.CarouselItem {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 518px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
}

.carousel-top-left-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    width: 107.7px;
    height: 36.09px;
    padding: 29px 26px 29px 26px;
    border-radius: 3px;
    border: 1px;
    gap: 30px;
}

.carousel-top-left-text>span {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    border: 1px solid #EBEEF3;
    border-radius: 3px;
    padding: 5px 20px;
}

.carousel-bottom-left-text {
    position: absolute;
    max-width: 760px;
    bottom: 20px;
    left: 20px;
    padding: 29px 26px 29px 26px;
    text-wrap: wrap;
}

.carousel-bottom-left-text>span {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.carousel-bottom-left-text>h3 {
    /* font-family: 'DM Sans', sans-serif; */
    font-family: Sequel Sans;
    font-size: 36px;
    font-weight: 435;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 15px;
}

.carousel-bottom-left-text>p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.carousel-img {
    max-height: 518px;
}

@media screen and (max-width: 1200px) {

    .carousel-img {
        width: 100%;
        border-radius: 6px;
    }

    .carousel-overlay {
        height: 100%;
        border-radius: 6px;
    }

}

@media screen and (max-width: 900px) {

    .carousel-top-left-text {
        display: none;
    }

    .carousel-bottom-left-text {
        padding: 0px;
    }

    .carousel-bottom-left-text>span {
        font-size: 14px;
    }

    .carousel-bottom-left-text>h3 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .carousel-bottom-left-text>p {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {

    .carousel-bottom-left-text>p,
    .carousel-bottom-left-text>span {
        display: none;
    }

    .carousel-bottom-left-text>h3 {
        /* font-size: 14px; */
        margin-bottom: 0;
        line-height: 1;
    }
}

@media screen and (max-width: 600px) {

    .carousel-bottom-left-text>h3 {
        font-size: 18px;
    }

    .carousel-bottom-left-text {
        padding-right: 20px;
    }
}