.Hero {
    /* width: 100%; */
    /* max-width: 1383px; */
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    /* max-height: 618px; */
}

.hero-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.basketball-bg {
    width: auto;
    height: 435px;
    opacity: 1;
    mix-blend-mode: luminosity;
    z-index: 0;
    filter: grayscale(100%);
    position: absolute;
    left: -65px;
    top: 0;
}

.hero-bg-text h2 {

    width: 470px;
    /* height: 300px; */

    font-family: Sequel Sans;
    font-size: 80px;
    font-weight: 435;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

    background: linear-gradient(180deg, #262626 0%, #B8C2CE 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    position: absolute;
    top: 65px;
    left: 55px;
}

.avatar-and-texts {
    z-index: 2;
}

.basketball-player {
    width: 600px;
    /* height: 580px; */
    position: absolute;
    top: 0px;
    left: 270px;
}

.hero-text-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    /* bottom: 0; */
    top: 405px;
    right: 324px;
}

.hero-text-and-button>div {
    width: 364px;
    /* height: 75px; */

    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
    color: #262626;
}

.hero-text-and-button button {
    width: 285px;
    height: 62px;
    padding: 12px, 32px, 12px, 32px;
    border-radius: 6px;
    gap: 10px;
    background: #262626;
    color: #E1E8F0;

    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.09em;
}

.hero-right {
    width: 270px;
    /* height: 554px; */
}

.today {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 34px;
    padding: 4px 16px 4px 16px;
    border-radius: 3px;
    gap: 27px;
    background: #E1E8F0;
    margin-bottom: 30px;
}

.today p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #B8C2CE;
}

.hero-card {
    width: 270px;
    height: 233px;
    border-radius: 6px;
    margin-top: 20px;

    position: relative;
}

.hero-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 270px;
    height: 132px;
    background: linear-gradient(360deg, #F2F2F2 35.23%, rgba(242, 242, 242, 0) 100%);

}

.hero-card-text {
    width: 200px;
    height: 54px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.hero-card-text span {
    font-family: 'DM Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    color: #26262699;
}

.hero-card-text h6 {
    /* font-family: Sequel Sans; */
    font-family: 'DM Sans', sans-serif;
    /* font-size: 16px; */
    font-size: 15px;
    /* font-weight: 410; */
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
}

.hero-text-and-button-responsive,
.responsive-hero-card {
    display: none;
}

@media screen and (max-width: 1200px) {

    .Hero {
        margin: 0px 20px;
        z-index: auto;
        margin-bottom: 35px;
    }

    .hero-contents {
        flex-direction: column;
    }

    .hero-right-div {
        display: flex;
        justify-content: space-between;
    }

    .hero-right {
        width: 100%;
        margin-top: 40rem;
    }

    .today {
        margin-bottom: 15px;
    }

    .hero-card {
        margin-top: 0;
    }

    .hero-card:last-child {
        margin-right: 0;
    }

    .hero-text-and-button>button {
        display: none;
    }

    .hero-text-and-button-responsive {
        display: flex;
    }

    .hero-bg-text {
        position: absolute;
        left: 55px;
    }

    .basketball-player {
        left: 320px;
    }

    .hero-text-and-button>div {
        width: 100%;
    }

    .hero-text-and-button {
        bottom: 260px;
        right: 0;
        top: 500px;
        padding: 0px 10px;
        height: fit-content;
    }

    .responsive-hero-card {
        display: flex;
    }

}

@media screen and (max-width: 1025px) {
    .hero-right {
        margin-top: 42rem;
    }
}

@media screen and (max-width: 970px) {

    .Hero {
        margin-bottom: 25px;
    }

    .hero-bg-text {
        position: absolute;
        left: 30px;
    }

    .basketball-player {
        left: 295px;
        width: 450px;
    }

    .hero-right {
        margin-top: 37rem;
    }

    .hero-bg-text h2 {
        width: 400px;
        font-size: 65px;
        line-height: 60px;
    }

    .hero-bg-text {
        left: 75px;
    }

    .basketball-bg {
        height: 390px;
    }

    .hero-right-div {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .hero-card {
        margin-right: 20px;
        margin-bottom: 30px;
    }

    .hero-text-and-button {
        top: 400px;
    }
}

@media screen and (max-width: 769px) {

    .hero-bg-text {
        left: 45px;
    }

    .basketball-bg {
        height: 350px;
    }

    .hero-bg-text h2 {
        width: 390px;
        font-size: 60px;
        line-height: 55px;
        left: 45px;
    }

    .basketball-player {
        left: 255px;
    }

    .hero-text-and-button {
        top: 390px;
    }

    .hero-right {
        margin-top: 38rem;
    }
}

@media screen and (max-width: 426px) {
    .basketball-bg {
        display: none;
    }

    .hero-bg-text h2 {
        width: 180px;
        font-size: 28px;
        line-height: 30px;
        left: -15px;
        top: 50px;
    }

    .basketball-player {
        left: 100px;
        width: 255px;
    }

    .hero-text-and-button {
        top: 225px;
    }

    .hero-text-and-button>div {
        font-size: 12px;
        line-height: 18px;
    }

    .hero-right {
        margin-top: 25rem;
    }

    .today {
        width: 70px;
        height: 25px;
    }

    .today p {
        font-size: 18px;
    }
}

@media screen and (max-width: 376px) {
    .basketball-player {
        left: 77px;
        width: 230px;
    }

    .hero-bg-text h2 {
        width: 155px;
        font-size: 24px;
        line-height: 25px;
        left: -19px;
        top: 45px;
    }

    .hero-text-and-button {
        top: 200px;
    }

    .hero-text-and-button>div {
        font-size: 10px;
        line-height: 15px;
    }

    .hero-right {
        margin-top: 22rem;
    }

    .today {
        width: 60px;
        height: 25px;
    }

    .today p {
        font-size: 16px;
    }
}

@media screen and (max-width: 321px) {
    .basketball-player {
        left: 60px;
        width: 200px;
    }

    .hero-bg-text h2 {
        width: 130px;
        font-size: 20px;
        line-height: 20px;
        left: -28px;
        top: 45px;
    }

    .hero-text-and-button {
        top: 165px;
    }
}