.Navbar {
    /* width: 100%; */
    max-width: 1440px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.logo {
    font-family: Darkline, sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.01em;
    text-align: left;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    list-style: none;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    color: #26262699;
    font-size: 15px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.01em;
    text-align: left;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    padding: 0px 10px 0px 15px;
    border: none;
    background: #B8C2CE;
    color: #FFFFFF;
}

.burger-menu-div {
    display: none;
}

.burger-menu-icon {
    object-fit: cover;
    height: 3rem;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    background-color: #262626;
    min-width: 4rem;
    z-index: 5;
    border-radius: 6px;
    padding: 15px 30px
}

.burger-menu ul li {
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: #E1E8F0;
}

@media screen and (max-width: 970px) {

    .logo-div {
        margin-left: 30px;
    }

    .burger-menu-icon {
        margin-right: 30px;
    }

    .Navbar {
        margin-bottom: 15px;
        height: 110px;
        width: 100%;
        justify-content: space-between;
    }

    .search-button-div,
    .nav-div {
        display: none;
    }

    .burger-menu-div {
        display: flex;
    }
}