@font-face {
    font-family: Darkline;
    src: url('../public/darkline.regular.ttf');
}

@font-face {
    font-family: Sequel Sans;
    src: url('../public/Sequel\ Sans\ Black\ Disp.ttf');
}

@font-face {
    font-family: Sofia Pro;
    src: url('../public/sofiapro-light.otf');
}